##### I have used these versions. Hopefully works on newer ones####
tensorflow == 2.6.4
tensorflow-addons == 0.9.1
keras == 2.3.1
scikit-learn == 0.22.2
pillow == 7.1.1
opencv-contrib-python == 4.2.0.34
opencv-python == 4.2.0.34
numpy == 1.18.2
mtcnn == 0.1.0
